NODE_ENV=development
PORT=3000
HOSTNAME=127.0.0.1
APP_URL=http://localhost:3000
MAIL_FROM_NAME=YOUR_NAME
MAIL_FROM_ADDRESS=YOUR_EMAIL_ADDRESS
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REFRESH_TOKEN=YOUR_GOOGLE_REFRESH_TOKEN
GOOGLE_REDIRECT_URI=http://127.0.0.1:3000/oauth/callback
BREVO_SMTP_LOGIN=YOUR_BREVO_SMTP_LOGIN
BREVO_SMTP_KEY=YOUR_BREVO_SMTP_KEY
